@charset "UTF-8";
:root {
  --correct-card: #57bb8a;
  --revision-card: #ffd666;
  --bought-card: #618cd4;
  --proxy-card: #3b96a3;
  --red-card: #ea4335;
  --blue-card: #4285f4;
  --yellow-card: #fbbc04;
  --green-card: #34a853;
  --black-card: #000000;
  --purple-card: #8e7cc3;
  --white-card: #ffffff;
  --zero-cards: #e67c73;
  --one-cards: #f2a96d;
  --two-cards: #ffd666;
  --three-cards: #abc978;
  --four-cards: #57bb8a;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

input:disabled + label {
  opacity: 0.5;
}

.card_info {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: white;
}
tr:not([data-color]) .card_info, tr[data-color=undefined] .card_info {
  color: grey;
}
[data-color=red] .card_info {
  background-color: var(--red-card);
}
[data-color=red-blue] .card_info {
  background: linear-gradient(90deg, var(--red-card) 50%, var(--blue-card) 50%);
}
[data-color=red-green-blue] .card_info {
  background: repeating-linear-gradient(to right, var(--red-card), var(--red-card) 33.33%, var(--green-card) 33.33%, var(--green-card) 66.66%, var(--blue-card) 66.66%, var(--blue-card));
}
[data-color=red-purple-blue] .card_info {
  background: repeating-linear-gradient(to right, var(--red-card), var(--red-card) 33.33%, var(--purple-card) 33.33%, var(--purple-card) 66.66%, var(--blue-card) 66.66%, var(--blue-card));
}
[data-color=red-white-blue] .card_info {
  background: repeating-linear-gradient(to right, var(--red-card), var(--red-card) 33.33%, var(--white-card) 33.33%, var(--white-card) 66.66%, var(--blue-card) 66.66%, var(--blue-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=red-yellow] .card_info {
  background: linear-gradient(90deg, var(--red-card) 50%, var(--yellow-card) 50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=red-blue-yellow] .card_info {
  background: repeating-linear-gradient(to right, var(--red-card), var(--red-card) 33.33%, var(--blue-card) 33.33%, var(--blue-card) 66.66%, var(--yellow-card) 66.66%, var(--yellow-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=red-green] .card_info {
  background: linear-gradient(90deg, var(--red-card) 50%, var(--green-card) 50%);
}
[data-color=red-yellow-green] .card_info {
  background: repeating-linear-gradient(to right, var(--red-card), var(--red-card) 33.33%, var(--yellow-card) 33.33%, var(--yellow-card) 66.66%, var(--green-card) 66.66%, var(--green-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=red-black] .card_info {
  background: linear-gradient(90deg, var(--red-card) 50%, var(--black-card) 50%);
}
[data-color=red-purple-black] .card_info {
  background: repeating-linear-gradient(to right, var(--red-card), var(--red-card) 33.33%, var(--purple-card) 33.33%, var(--purple-card) 66.66%, var(--black-card) 66.66%, var(--black-card));
}
[data-color=red-yellow-black] .card_info {
  background: repeating-linear-gradient(to right, var(--red-card), var(--red-card) 33.33%, var(--yellow-card) 33.33%, var(--yellow-card) 66.66%, var(--black-card) 66.66%, var(--black-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=red-purple] .card_info {
  background: linear-gradient(90deg, var(--red-card) 50%, var(--purple-card) 50%);
}
[data-color=red-white] .card_info {
  background: linear-gradient(90deg, var(--red-card) 50%, var(--white-card) 50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=blue] .card_info {
  background-color: var(--blue-card);
}
[data-color=blue-red] .card_info {
  background: linear-gradient(90deg, var(--blue-card) 50%, var(--red-card) 50%);
}
[data-color=blue-white-red] .card_info {
  background: repeating-linear-gradient(to right, var(--blue-card), var(--blue-card) 33.33%, var(--white-card) 33.33%, var(--white-card) 66.66%, var(--red-card) 66.66%, var(--red-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
[data-color=blue-yellow] .card_info {
  background: linear-gradient(90deg, var(--blue-card) 50%, var(--yellow-card) 50%);
}
[data-color=blue-black-yellow] .card_info {
  background: repeating-linear-gradient(to right, var(--blue-card), var(--blue-card) 33.33%, var(--black-card) 33.33%, var(--black-card) 66.66%, var(--yellow-card) 66.66%, var(--yellow-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=blue-green] .card_info {
  background: linear-gradient(90deg, var(--blue-card) 50%, var(--green-card) 50%);
}
[data-color=blue-black] .card_info {
  background: linear-gradient(90deg, var(--blue-card) 50%, var(--black-card) 50%);
}
[data-color=blue-purple] .card_info {
  background: linear-gradient(90deg, var(--blue-card) 50%, var(--purple-card) 50%);
}
[data-color=yellow] .card_info {
  background-color: var(--yellow-card);
  color: black;
}
[data-color=yellow-red] .card_info {
  background: linear-gradient(90deg, var(--yellow-card) 50%, var(--red-card) 50%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
[data-color=yellow-blue] .card_info {
  background: linear-gradient(90deg, var(--yellow-card) 50%, var(--blue-card) 50%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
[data-color=yellow-green] .card_info {
  background: linear-gradient(90deg, var(--yellow-card) 50%, var(--green-card) 50%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
[data-color=yellow-black] .card_info {
  background: linear-gradient(90deg, var(--yellow-card) 50%, var(--black-card) 50%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
[data-color=yellow-blue-black] .card_info {
  background: repeating-linear-gradient(to right, var(--yellow-card), var(--yellow-card) 33.33%, var(--blue-card) 33.33%, var(--blue-card) 66.66%, var(--black-card) 66.66%, var(--black-card));
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
[data-color=yellow-purple] .card_info {
  background: linear-gradient(90deg, var(--yellow-card) 50%, var(--purple-card) 50%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
[data-color=yellow-purple-black] .card_info {
  background: repeating-linear-gradient(to right, var(--yellow-card), var(--yellow-card) 33.33%, var(--purple-card) 33.33%, var(--purple-card) 66.66%, var(--black-card) 66.66%, var(--black-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=yellow-white] .card_info {
  background: linear-gradient(90deg, var(--yellow-card) 50%, var(--white-card) 50%);
  color: black;
}
[data-color=green] .card_info {
  background-color: var(--green-card);
}
[data-color=green-red] .card_info {
  background: linear-gradient(90deg, var(--green-card) 50%, var(--red-card) 50%);
}
[data-color=green-blue] .card_info {
  background: linear-gradient(90deg, var(--green-card) 50%, var(--blue-card) 50%);
}
[data-color=green-red-blue] .card_info {
  background: repeating-linear-gradient(to right, var(--green-card), var(--green-card) 33.33%, var(--red-card) 33.33%, var(--red-card) 66.66%, var(--blue-card) 66.66%, var(--blue-card));
  color: white;
}
[data-color=green-yellow-blue] .card_info {
  background: repeating-linear-gradient(to right, var(--green-card), var(--green-card) 33.33%, var(--yellow-card) 33.33%, var(--yellow-card) 66.66%, var(--blue-card) 66.66%, var(--blue-card));
  color: white;
}
[data-color=green-yellow] .card_info {
  background: linear-gradient(90deg, var(--green-card) 50%, var(--yellow-card) 50%);
}
[data-color=green-black] .card_info {
  background: linear-gradient(90deg, var(--green-card) 50%, var(--black-card) 50%);
}
[data-color=green-yellow-black] .card_info {
  background: repeating-linear-gradient(to right, var(--green-card), var(--green-card) 33.33%, var(--yellow-card) 33.33%, var(--yellow-card) 66.66%, var(--black-card) 66.66%, var(--black-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
[data-color=green-purple] .card_info {
  background: linear-gradient(90deg, var(--green-card) 50%, var(--purple-card) 50%);
}
[data-color=green-yellow-purple] .card_info {
  background: repeating-linear-gradient(to right, var(--green-card), var(--green-card) 33.33%, var(--yellow-card) 33.33%, var(--yellow-card) 66.66%, var(--purple-card) 66.66%, var(--purple-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
[data-color=black] .card_info {
  background-color: var(--black-card);
}
[data-color=black-red] .card_info {
  background: linear-gradient(90deg, var(--black-card) 50%, var(--red-card) 50%);
}
[data-color=black-yellow-red] .card_info {
  background: repeating-linear-gradient(to right, var(--black-card), var(--black-card) 33.33%, var(--yellow-card) 33.33%, var(--yellow-card) 66.66%, var(--red-card) 66.66%, var(--red-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
[data-color=black-blue] .card_info {
  background: linear-gradient(90deg, var(--black-card) 50%, var(--blue-card) 50%);
}
[data-color=black-yellow] .card_info {
  background: linear-gradient(90deg, var(--black-card) 50%, var(--yellow-card) 50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=black-green] .card_info {
  background: linear-gradient(90deg, var(--black-card) 50%, var(--green-card) 50%);
}
[data-color=black-purple] .card_info {
  background: linear-gradient(90deg, var(--black-card) 50%, var(--purple-card) 50%);
}
[data-color=black-white] .card_info {
  background: linear-gradient(90deg, var(--black-card) 50%, var(--white-card) 50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=purple] .card_info {
  background-color: var(--purple-card);
}
[data-color=purple-red] .card_info {
  background: linear-gradient(90deg, var(--purple-card) 50%, var(--red-card) 50%);
}
[data-color=purple-blue] .card_info {
  background: linear-gradient(90deg, var(--purple-card) 50%, var(--blue-card) 50%);
}
[data-color=purple-yellow] .card_info {
  background: linear-gradient(90deg, var(--purple-card) 50%, var(--yellow-card) 50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[data-color=purple-green] .card_info {
  background: linear-gradient(90deg, var(--purple-card) 50%, var(--green-card) 50%);
}
[data-color=purple-black] .card_info {
  background: linear-gradient(90deg, var(--purple-card) 50%, var(--black-card) 50%);
}
[data-color=white] .card_info {
  background-color: var(--white-card);
  color: black;
}
[data-color=white-red] .card_info {
  background: linear-gradient(90deg, var(--white-card) 50%, var(--red-card) 50%);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
[data-color=white-blue-green] .card_info {
  background: repeating-linear-gradient(to right, var(--white-card), var(--white-card) 33.33%, var(--blue-card) 33.33%, var(--blue-card) 66.66%, var(--green-card) 66.66%, var(--green-card));
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
.card_info__rarity {
  text-transform: uppercase;
  font-size: small;
  border: 1px solid;
  border-radius: 8px;
  padding: 1px 4px;
}

.card_list {
  display: flex;
}

.card {
  max-height: 111px;
  cursor: pointer;
  max-width: 79px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card--gotit {
  opacity: 0.5;
}

.card.card--no-release { /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.card[data-status="-1"] {
  filter: blur(1px);
}

.card[data-status="1"] {
  padding-right: 7px;
  background-color: var(--correct-card);
}

.card[data-status="2"] {
  padding-right: 7px;
  background-color: var(--bought-card);
}

.card[data-status="3"] {
  padding-right: 7px;
  background-color: var(--proxy-card);
}

.card[data-status="2"][data-bought="0"],
.card[data-status="3"][data-bought="0"] {
  padding-right: 7px;
  background-color: var(--revision-card);
}

.amount-card {
  background-color: var(--four-cards);
  border: none;
  height: 111px;
  font-size: 4em;
  width: 100%;
  max-width: 70px;
  min-width: 40px;
  text-align: center;
  padding: 0;
}

.amount-card[value=""] {
  background-color: transparent;
}

.amount-card[value="0"] {
  background-color: var(--zero-cards);
}

.amount-card[value="1"] {
  background-color: var(--one-cards);
}

.amount-card[value="2"] {
  background-color: var(--two-cards);
}

.amount-card[value="3"] {
  background-color: var(--three-cards);
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  padding: 5px 8px;
  font-weight: 700;
  border-radius: 5px;
}
button + button {
  margin-right: 5px;
}
button:hover {
  opacity: 0.9;
}
#editionButtons button {
  width: 120px;
}
button#editSet {
  background-color: var(--revision-card);
}
button#saveSet {
  background-color: var(--correct-card);
  color: white;
}
button#cancelEdit {
  background-color: var(--red-card);
  color: white;
}
button.accordion {
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  line-height: 20px;
}
button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}
button.accordion:after {
  content: "➕";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
button.accordion.active:after {
  content: "➖";
}

.button--icon-only {
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 0;
  line-height: inherit;
  min-width: 0;
  padding: 0;
  outline: none;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}
.panel.show {
  opacity: 1;
  max-height: 500px;
}

#editionButtons, #downloadButtons {
  display: inline-block;
}

.icon {
  box-sizing: content-box;
  height: 20px;
  line-height: 0;
  position: absolute;
  right: 0;
  width: 20px;
  transition: color 0.2s;
}
.icon--l {
  height: 30px;
  width: 30px;
}
.icon--inline {
  display: inline-block;
  position: relative;
  right: inherit;
}
.icon svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
.icon svg:not(:root) {
  overflow: hidden;
}

.filter--set tbody tr:not(.match_filter--set) {
  display: none;
}
.filter--set .card:not(.filtered--set) {
  display: none;
}

.filter--rarity tbody tr:not(.match_filter--rarity) {
  display: none;
}
.filter--rarity .card:not(.filtered--rarity) {
  display: none;
}

.filter--color tbody tr:not(.filtered--color) {
  display: none;
}

.filter--status tbody tr:not(.match_filter--status) {
  display: none;
}
.filter--status .card:not(.filtered--status) {
  display: none;
}
.filter--status--no_pull tbody tr[data-pull=true] {
  display: none;
}
.filter--status--no_pull_no_have tbody tr[data-pull=true]:not(.match_filter) {
  display: none;
}
.filter--status--no_pull_no_have .card:not(.filtered--status) {
  opacity: 0.5;
}

.filter--set.filter--status tbody tr:not(.match_filter--set.match_filter--status) {
  display: none;
}
.filter--set.filter--status .card.filtered--set {
  display: block;
}
.filter--set.filter--status .card:not(.filtered--set) {
  display: none;
}

#content.filter--status.status--no_have #packs img:not([data-status="0"]) {
  display: none;
}
#content.filter--status.status--got_it #packs img:not([data-status="1"]) {
  display: none;
}
#content.filter--status.status--bought_it #packs img:not([data-status="2"]) {
  display: none;
}
#content.filter--status.status--reservation #packs img:not([data-status="-1"]) {
  display: none;
}
#content.filter--status.status--proxy #packs img:not([data-status="3"]) {
  display: none;
}

.content {
  height: calc(100vh - 175px);
  overflow: scroll;
}

table {
  border-collapse: collapse;
  border: none;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

thead tr {
  width: 99%;
}

tr {
  vertical-align: top;
  border: 1px solid black;
}

td {
  padding: 0;
}

.set {
  display: none;
}

.view--grid table {
  border: 1px solid black;
}
.view--grid thead {
  border-bottom: 1px solid black;
}
.view--grid thead tr {
  display: block;
}
.view--grid tr {
  display: inline;
  border: none;
}
.view--grid .card_info {
  display: none;
}
.view--grid .card_amount {
  display: none;
}
.view--grid .card_list {
  display: inline;
}

.view--all .set {
  display: block;
}

.view--collection .active {
  display: block;
}
.view--collection > :not(.active) {
  display: none;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  z-index: 2;
}
.modal-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.modal-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 20px;
  max-width: 450px;
}
.modal-title {
  margin-top: 0;
  font-size: 1.2em;
}
.modal-card {
  width: 95%;
  max-width: 480px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 21px;
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.33);
}
#editModal .modal-card {
  width: 75%;
}
.modal-card[data-type=pack] {
  width: 350px;
  border-radius: 0;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/8px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/8px 51% repeat-x;
          mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) bottom/8px 51% repeat-x, conic-gradient(from 135deg at top, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) top/8px 51% repeat-x;
}
.modal-ok {
  width: 100%;
  font-size: 2em;
  margin-top: 10px;
  background-color: var(--blue-card);
  color: white;
  border: none;
  border-radius: 10px;
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: red;
}
.modal input[type=radio],
.modal input[type=radio] + label {
  cursor: pointer;
}
.modal .price-confirm, .modal .cardmarket {
  text-align: center;
  margin-top: 10px;
}
.modal .cardmarket {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid #afafaf;
}
.modal .cardmarket img {
  width: 25px;
}
.modal .cardmarket #cardmarketUrl {
  width: calc(100% - 75px);
}
.modal .cardmarket #cardmarketPrice {
  width: 50px;
}
.modal #cardmarketLink {
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
}
.modal #cardmarketLink[hidden] {
  display: none;
}
.modal #cardmarketLink:hover {
  opacity: 0.8;
}
.modal #cardmarketLink:visited {
  color: black;
}
.modal label, .modal input {
  font-size: 20px;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 450px) {
  .radio-buttons {
    /* width: 450px; */
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
.radio-buttons input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-buttons label {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border: 2px solid #afafaf;
  border-radius: 4px;
  font-size: 12px;
}
.radio-buttons input[type=radio][id=no_have]:checked + label {
  background-color: #ef9b9b;
  border-color: #c63232;
  color: #fff;
}
.radio-buttons input[type=radio][id=got_it]:checked + label {
  background-color: #9fda86;
  border-color: #2fa82b;
  color: #fff;
}
.radio-buttons input[type=radio][id=reservation]:checked + label {
  background-color: #efde9b;
  border-color: #c6a432;
  color: #fff;
}
.radio-buttons input[type=radio][id=bought_it]:checked + label {
  background-color: #77b4ff;
  border-color: #3676d6;
  color: #fff;
}
.radio-buttons input[type=radio][id=proxy]:checked + label {
  background-color: #a3a3a3;
  border-color: #585858;
}

.card-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#card-status,
#card-price,
#card-minimum {
  font-weight: 700;
}

#packs {
  display: flex;
  flex-wrap: wrap;
}
#packs img {
  width: 180px;
  height: auto;
}
#packs img[data-status="-1"] {
  filter: blur(1px);
}
#packs img[data-status="1"] {
  padding-right: 7px;
  background-color: var(--correct-card);
}
#packs img[data-status="2"] {
  padding-right: 7px;
  background-color: var(--bought-card);
}
#packs img[data-status="3"] {
  padding-right: 7px;
  background-color: var(--proxy-card);
}
#packs img[data-status="2"][data-bought="0"], #packs img[data-status="3"][data-bought="0"] {
  padding-right: 7px;
  background-color: var(--revision-card);
}

#products .active {
  display: block;
}
#products > :not(.active) {
  display: none;
}