@mixin card-color($left-color,$right-color:'',$text-shadow:'',$color:'',$center-color:'') {
    @if $center-color != '' {
        [data-color="#{$left-color}-#{$center-color}-#{$right-color}"] & {
            background: repeating-linear-gradient(to right, var(--#{$left-color}-card), var(--#{$left-color}-card) 33.33%, var(--#{$center-color}-card) 33.33%, var(--#{$center-color}-card) 66.66%, var(--#{$right-color}-card) 66.66%, var(--#{$right-color}-card));
            @if $text-shadow != '' {
                text-shadow: -1px 0 #{$text-shadow}, 0 1px #{$text-shadow}, 1px 0 #{$text-shadow}, 0 -1px #{$text-shadow};
            }
            @if $color != '' {
                color: #{$color};
            }
        }
    } @else if $right-color != '' {
        [data-color="#{$left-color}-#{$right-color}"] & {
            background: linear-gradient(90deg, var(--#{$left-color}-card) 50%, var(--#{$right-color}-card) 50%);
            @if $text-shadow != '' {
                text-shadow: -1px 0 #{$text-shadow}, 0 1px #{$text-shadow}, 1px 0 #{$text-shadow}, 0 -1px #{$text-shadow};
            }
            @if $color != '' {
                color: #{$color};
            }
        }
    } @else {
        [data-color="#{$left-color}"] & {
            background-color: var(--#{$left-color}-card);
            @if $color != '' {
                color: #{$color};
            }
        }
    }
}
.card_id {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    color: white;

    // Red cards
    @include card-color('red');
    @include card-color('red', 'blue');
    @include card-color('red', 'yellow', 'black');
    @include card-color('red', 'green');
    @include card-color('red', 'black');
    @include card-color('red', 'purple');
    @include card-color('red', 'white', 'black');

    // Blue cards
    @include card-color('blue');
    @include card-color('blue', 'red');
    @include card-color('blue', 'yellow');
    @include card-color('blue', 'green');
    @include card-color('blue', 'black');
    @include card-color('blue', 'purple');

    // Yellow cards
    @include card-color('yellow', '', '', 'black');
    @include card-color('yellow', 'red', 'white', 'black');
    @include card-color('yellow', 'blue', 'white', 'black');
    @include card-color('yellow', 'green', 'white', 'black');
    @include card-color('yellow', 'black', 'white', 'black');
    @include card-color('yellow', 'black', 'white', 'black', 'blue');
    @include card-color('yellow', 'purple', 'white', 'black');

    // Green cards
    @include card-color('green');
    @include card-color('green', 'red');
    @include card-color('green', 'blue');
    @include card-color('green', 'yellow');
    @include card-color('green', 'black');
    @include card-color('green', 'purple');

    // Black cards
    @include card-color('black');
    @include card-color('black', 'red');
    @include card-color('black', 'blue');
    @include card-color('black', 'yellow', 'black');
    @include card-color('black', 'green');
    @include card-color('black', 'purple');

    // Purple cards
    @include card-color('purple');
    @include card-color('purple', 'red');
    @include card-color('purple', 'blue');
    @include card-color('purple', 'yellow', 'black');
    @include card-color('purple', 'green');
    @include card-color('purple', 'black');

    // White cards
    @include card-color('white', '', '', 'black');
    @include card-color('white', 'red', 'white', 'black');
}

.card_list {
    display: flex;
}
.card {
    max-height: 111px;
    cursor: pointer;
    max-width: 79px;
    object-fit: cover;
}
.card--gotit {
    opacity: 0.5;
}
.card.card--no-release {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.card[data-status="-1"] {
    filter: blur(1px);
}
.card[data-status="1"] {
    padding-right: 7px;
    background-color: var(--correct-card);
}
.card[data-status="2"] {
    padding-right: 7px;
    background-color: var(--bought-card);
}
.card[data-status="3"] {
    padding-right: 7px;
    background-color: var(--proxy-card);
}
.card[data-status="2"][data-bought="0"],
.card[data-status="3"][data-bought="0"] {
    padding-right: 7px;
    background-color: var(--revision-card);
}