.filter--set {
    tbody tr:not(.match_filter--set) {
        display: none;
    }

    .card.filtered--set {
        display: block;
    }
    .card:not(.filtered--set) {
        display: none;
    }
}

.filter--color {
    tbody tr:not(.filtered--color) {
        display: none;
    }
}

.filter--status {
    tbody tr:not(.match_filter--status) {
        display: none;
    }

    .card.filtered--status {
        // display: block;
    }
    .card:not(.filtered--status) {
        display: none;
    }

    &--no_pull {
        tbody tr[data-pull="true"] {
            display: none;
        }
    }
    &--no_pull_no_have {
        tbody tr[data-pull="true"]:not(.match_filter) {
            display: none;
        }
        .card.filtered--status {
            // display: block;
        }
        .card:not(.filtered--status) {
            opacity: 0.5;
        }
    }
}

.filter--set.filter--status {
    tbody tr:not(.match_filter--set.match_filter--status) {
        display: none;
    }

    .card.filtered--set {
        display: block;
    }
    .card:not(.filtered--set) {
        display: none;
    }
}

#content {
    &.filter--status {
        // TODO: Añadir no-pull y no-pull-no-have
        &.status--no_have {
            #packs img:not([data-status="0"]) {
                display: none;
            }
        }
        &.status--got_it {
            #packs img:not([data-status="1"]) {
                display: none;
            }
        }
        &.status--bought_it {
            #packs img:not([data-status="2"]) {
                display: none;
            }
        }
        &.status--reservation {
            #packs img:not([data-status="-1"]) {
                display: none;
            }
        }
        &.status--proxy {
            #packs img:not([data-status="3"]) {
                display: none;
            }
        }
    }
}
