.content {
    height: calc(100vh - 175px);
    overflow: scroll;
}
table {
    border-collapse: collapse;
    border: none;
}
thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
thead tr {
    width: 99%;
}
tr {
    vertical-align: top;
    border: 1px solid black;
}
td {
    padding: 0;
}

.set {
    display: none;
}

.view--grid {
    thead tr {
        display: block;
    }
    tr {
        display: inline;
    }
    .card_id {
        display: none;
    }
    .card_amount {
        display: none;
    }
    .card_list {
        display: inline;
    }
}

.view--all {
    .set {
        display: block;
    }
}

.view--collection {
    .active {
        display: block;
    }
    > :not(.active) {
        display: none;
    }
}
