:root {
    --correct-card: #57bb8a;
    --revision-card: #ffd666;
    --proxy-card: #3b96a3;
    --red-card: #ea4335;
    --blue-card: #4285f4;
    --yellow-card: #fbbc04;
    --green-card: #34a853;
    --black-card: #000000;
    --purple-card: #8e7cc3;
    --white-card: #ffffff;
    --zero-cards: #e67c73;
    --one-cards: #f2a96d;
    --two-cards: #ffd666;
    --three-cards: #abc978;
    --four-cards: #57bb8a;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
button {
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    padding: 5px 8px;
    font-weight: 700;
    border-radius: 5px;
}
button + button {
    margin-right: 5px;
}
button:hover {
    opacity: 0.9;
}
#editionButtons button {
    width: 120px;
}
button#editSet {
    background-color: var(--revision-card);
}
button#saveSet {
    background-color: var(--correct-card);
    color: white;
}
button#cancelEdit {
    background-color: var(--red-card);
    color: white;
}
#setLists {
    height: calc(100vh - 135px);
    overflow: scroll;
}
table {
    border-collapse: collapse;
    border: none;
}
.card_id {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}
.card_id--red {
    background-color: var(--red-card);
    color: white;
}
.card_id--blue {
    background-color: var(--blue-card);
    color: white;
}
.card_id--yellow {
    background-color: var(--yellow-card);
}
.card_id--green {
    background-color: var(--green-card);
    color: white;
}
.card_id--black {
    background-color: var(--black-card);
    color: white;
}
.card_id--purple {
    background-color: var(--purple-card);
    color: white;
}
.amount-card {
    background-color: var(--four-cards);
    border: none;
    height: 110px;
    font-size: 4em;
    width: 100%;
    max-width: 70px;
    text-align: center;
}
.amount-card[value="0"] {
    background-color: var(--zero-cards);
}
.amount-card[value="1"] {
    background-color: var(--one-cards);
}
.amount-card[value="2"] {
    background-color: var(--two-cards);
}
.amount-card[value="3"] {
    background-color: var(--three-cards);
}
.card {
    max-width: 80px;
    cursor: pointer;
}
.card[data-status="1"],
.card[data-status="2"] {
    padding-right: 7px;
    background-color: var(--correct-card);
}
.card[data-status="3"] {
    padding-right: 7px;
    background-color: var(--proxy-card);
}
.card[data-status="2"][data-bought="0"],
.card[data-status="3"][data-bought="0"] {
    padding-right: 7px;
    background-color: var(--revision-card);
}